<html>
{% extends "book/wreper.html" %}
{% block content %}
<head>
    <title>Книги</title>
</head>
<body>
    
    <form action="", method="GET">
        <input type="text" name="search" border="1">
        <button>Поиск</button>
    </form>
    <tr></tr>
    <a href="{% url 'book-create' %}">Добавить книгу</a>
</body>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Название книги</th>
        <th scope="col">Действие</th>
    </tr>

    <ul>
        {% for i in object_list %}
        <tr></tr>
        <td scope="row">{{i}}</td>
        <td>
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false"><i class="far fa-clipboard"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'book-detail' i.pk %}"><i class="fas fa-eye"></i></a>
                        <a class="dropdown-item" href="{% url 'book-update' i.pk %}"><i class="fas fa-pencil-alt"></i></a>
                        <form method="POST" action="{% url 'book-delete' i.pk %}">{% csrf_token %}
                            <input type="hidden" name="id" value="{{ i.id }}" />
                            <button class="dropdown-item" type="submit" name="Удалить"><i class="fas fa-trash"></i></button>
                        </form>
                       
                    </div>
                </li>
        </td>
        
    </ul>
    <tr>
        <td>{{ object.name }}</td>
    </tr>
    {% endfor %}
    </thead>
</table>


</html>
{% endblock %}