{% extends "book/wreper.html" %}
{% block content %}
<html>

<head>
    <title>Книги</title>
</head>

<table class="table">
    <thead class="thead-dark">
    
<a href="{% url 'book-list' %}">Вернуться к списку</a>  
    <tr>
        <tr>
        <th>Название</th>
        <td>{{ object.name }}</td>
        <tr></tr>
        <th>Автор</th>
        <td>{{ object.last_name }}</td>
        <tr>
        <th>Цена</th>
        <td>{{ object.price }}</td>
        </tr>
        <tr>
        <th>Серия</th>
        <td>{{ object.serie }}</td>
        </tr>
        <tr>
        <th>Формат</th>
        <td>{{ object.format_b }}</td>
        </tr>
        <tr>
        <th>Год издания</th>
        <td>{{ object.issue_year }}</td>
    </tr>

</table>

</thead>
</html>
{% endblock %}