{% extends "catalog/detail_form_view.html" %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
        <h2>Добавить</h2>
        <form method="post">{% csrf_token %} {{form}}                                                      
            <input type="submit" value="Save">
        </form>
    </thead>
</table>
{% endblock %}