<!DOCTYPE html>
<html lang="en">
    {% extends "book/wreper.html" %}
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<table>
    <tr>
        <th>Название книги</th>
        <th>International Standard Book Number</th>
        <th>Вам есть 18 лет?</th>
        <th>Обложка</th>
        <th>Цена</th>
        <th>Серия</th>
        <th>Авторы</th>
        <th>Формат книги</th>
        <th>Год издания</th>
        <th>Доступно для заказа</th>
        <th>Рейтинг</th>
        <th>Количество страниц</th>
        <th>Переплет</th>
        <th>Вес книги</th>
    </tr>
    <tr>
        <from metod="POST" , action=".">
            {% csrf_token %}
    <th>{{ form.name }}</th>
    <th>{{ form.ISBN }}</th>
    <th>{{ form.age_limit }}</th>
    <th>{{ form.image }}</th>
    <th>{{ form.price }}</th>
    <th>{{ form.serie }}</th>
    <th>{{ form.last_name }}</th>
    <th>{{ form.format_b }}</th>
    <th>{{ form.issue_year }}</th>
    <th>{{ form.available }}</th>
    <th>{{ form.rate }}</th>
    <th>{{ form.page }}</th>
    <th>{{ form.book_binding }}</th>
    <th>{{ form.weight }}</th>
    
        </tr>
            
        </table>
<a type="submit" href="book-detail" name="list">Отправить</a>
</from>
   
</body>
</html>
{% endblock %}