<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        {{ form }}
    </form>
</body>

</html>