<!DOCTYPE html>
<html>
<head>
{% extends "catalog/detail_form_view.html" %}
{% block content %}
    <title>Document</title>
</head>
<table class="table">
    <thead class="thead-dark">
<body>
    <tr>
        <td scope="row"><a href="{% url 'authors-list-view' %}">Авторы</a></td>
        </tr>
        <tr>
        <td scope="row"><a href="{% url 'serie-list-view' %}">Серия</a></td>
        </tr>
        <tr>
        <td scope="row"><a href="{% url 'format-list-view' %}">Формат</a></td>
        </tr>
        <tr>
        <td scope="row"><a href="{% url 'binding-list-view' %}">Переплет</a></td>
        </tr>
        <tr>
        <td scope="row"><a href="{% url 'genres-list-view' %}">Жанры</a></td>
        </tr>
        <tr>
        <td scope="row"><a href="{% url 'publisher-list-view' %}">Издательство</a></td>
        </tr>
        <tr></tr>
        <td scope="row"><a href="{% url 'book-list' %}">Книги</a></td>
    </tr>
</body>
</table>
{% endblock %}
</html>