<html>

{% extends "catalog/detail_form_view.html" %}
{% block content %}

<head>
    <title>Авторы</title>
</head>

<body>
    <form action="" method="GET">
        <input type="text" name="search" border="1">
        <button>Поиск</button>
    </form>
<tr><a class="border border-primary" href="{% url 'authors-create'%}">Добавить автора</i></a></tr>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>PK</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Действие</th>

    </tr>

    <ul>
        {% for object in object_list %}

    </ul>
    <tr></tr>
        <td scope="row">{{ object.pk }}</td>
        <td scope="row">{{ object.last_name }}</td>
        <td scope="row">{{ object.first_name }}</td>
        <td scope="row">{{ object.middle_name }}</td>

    <td>
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"><i class="far fa-clipboard"></i></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'authors-detail' object.pk %}"><i class="fas fa-eye"></i></a>
                    <form method="POST" action="{% url 'authors-update' object.id %}">{% csrf_token %}
                        <input type="hidden" name="id" value="{{ object.id }}">
                        <button class="dropdown-item" type="submit" name="Обновить"><i
                                class="fas fa-pencil-alt"></i></button>
                    </form>
                    <form method="POST" action="{% url 'authors-delete' object.id %}">{% csrf_token %}
                        <input type="hidden" name="id" value="{{ object.id }}" />
                        <button class="dropdown-item" type="submit" name="Удалить"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
            </li>
    </td>
            {% endfor %}
            </thead>
</table>
{% endblock %}

</html>