<html>
{% extends "catalog/detail_form_view.html" %}
{% block content %}
<head>
    <title>Авторы</title>
</head>
<body>
<a class="dropdown-item" href="{% url 'authors-list-view' %}">Вернуться к списку</i></a>
    <form action="" method="GET">
        <input type="text" name="search" border="1">
        <button>Поиск</button>
    </form>

</body>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>PK</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        
    </tr>
<ul>
    {% for i in object_list %}
    <li>{{i}}</li>
    {% endfor %}
</ul>
    <tr>
        <td>{{ object.pk }}</td>
        <td>{{ object.last_name }}</td>
        <td>{{ object.first_name }}</td>
        <td>{{ object.middle_name }}</td>
    </tr>
    </thead>
</table>

{% endblock %}
</html>