<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <table>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
        </tr>
        <tr>
            <from metod="POST" , action=".">
                {% csrf_token %}
                <th>{{ form.first_name }}</th>
                <th>{{ form.last_name }}</th>
                <th>{{ form.middle_name }}</th>
                <button type="submit" name="list">Отправить</button>
            </from>


        </tr>
    </table>


</body>
</html>