{% extends "catalog/detail_form_view.html" %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
        <h2>Добавить</h2>
        <form method="post">{% csrf_token %}
            <tr>Фамилия
                {{ form.last_name }}</tr>
            <tr>Имя
                {{ form.first_name }}</tr>
            <tr>Отчество
                {{ form.middle_name }}</tr>
            <input type="submit" value="Save">
        </form>
    </thead>
</table>
{% endblock %}