<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
<tr>
<th>Переплет</th>
</tr>
<tr>
<th>
<form method="POST" , action=".">
    {% csrf_token %}
    {{ form.binding }}
    <button type="submit" name="list">Отправить</button>
</th>
</tr>
    </table>
   </body>
</html>