<!DOCTYPE html>
{% extends "catalog/detail_form_view.html" %}
{% block content %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Переплет</title>
</head>
<body>
    <a class="dropdown-item" href="{% url 'binding-list-view' %}">Вернуться к списку</i></a>
    <form action="" method="GET">
        <input type="text" name="search" border="1">
        <button>Поиск</button>
    </form>

</body>
<body>
    <form action="", method="GET">
        {{ form }}
    </form>

<table class="table">
    <thead class="thead-dark">
    <tr>
    <th>PK</th>
    <th>Наименование переплета</th>
    </tr>
    <tr>
        <td>
            {{ object.pk }}
        </td>
        <td>
            {{ object.binding }}
        </td>

{% for i in object_list %}
<li>{{i}}</li>

        <td>
            {{ object.binding }}
        </td>
    </tr>
    {% endfor %}
        </thead>
</table>

</body>
{% endblock %}
</html>