<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Формат</title>
</head>

<body><form action="" method="GET">
    <input type="text" name="search" border="1">
    <button class="btn btn-success"><i class="fas fa-search"></i></button>
</form></body>

<table class="table">
    <thead class="thead-dark">
        <tr><a class="border border-primary" href="{% url 'format-create' %}">Добавить формат</i></a></tr>
   
     <tr>
        
        <th>Формат</th>
        <th>Действие</th>
</tr>
<ul>
        {% for i in object_list %}
    <tr></tr>
    <td scope="row">{{ i.format }}</td>
    <td>
                    <ul class="nav nav-pills">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                aria-expanded="false"><i class="far fa-clipboard"></i></a>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" href="{% url 'serie-detail' i.pk %}"><i class="fas fa-eye"></i></button>
                                <form method="POST" action="{% url 'serie-update' i.id %}">{% csrf_token %}
                                    <input type="hidden" name="id" value="{{ i.id }}">
                                    <button class="dropdown-item" type="submit" name="Обновить"><i class="fas fa-pencil-alt"></i></button>
                                </form>
                                <form method="POST" action="{% url 'serie-delete' i.id %}">{% csrf_token %}
                                    <input type="hidden" name="id" value="{{ i.id }}" />
                                    <button class="dropdown-item" type="submit" name="Удалить"><i class="fas fa-trash"></i></button>
                                </form>
                            </div>
                        </li>
                    </ul>
    </td>
        {% endfor %}
</ul>
    </tr>
   
    <tr>
        <td>{{ object.format }}</td>
    </tr>
</table>
</thead>

</html>

