<html>
{% extends "catalog/detail_form_view.html" %}
{% block content %}
<head>
    <title>Серия</title>
</head>


<tableclass="table">
    <thead class="thead-dark">
        <a class="dropdown-item" href="{% url 'authors-list-view' %}">Вернуться к списку</i></a>
    <tr>
        <th>Жанры</th>
    </tr>
    <ul>
        {% for i in object_list %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>
    <tr>
        <td>{{ object.genres }}</td>
    </tr>
        </thead>
</table>

{% endblock %}
</html>