<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <table>
            <tr>
                <th>
                    Жанры
                </th>
            </tr>
            <tr>
                <th>
                <form method="POST" , action=".">
                    {% csrf_token %}
                    {{ form.genres }}
                    <button tupe="submit" , name="detail">Отправить</button>
                        </form>
                </th>
            </tr>
        </table>
        

</body>
</html>