<html>

<head>
    <title>Серия</title>
</head>
{% extends "catalog/detail_form_view.html" %}
{% block content %}
<body>
    
    <form action="" method="GET">
    <input type="text" name="search" border="1">
    <button>Поиск</button>
</form>
</body>

<table class="table">
    <thead class="thead-dark">
        <a class="btn btn-primary" href="{% url 'genres-create'%}">Добавить жанр</a>
    <tr>
        <th>Жанры</th>
        <th>Действие</th>
    </tr>
    <ul>
        {% for i in object_list %}
    </ul>
    <tr>
        <td>{{ i.genres }}</td>
        <td>
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"><i class="far fa-clipboard"></i></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'genres-detail' i.pk %}"><i class="fas fa-eye"></i></a>
                    <form method="POST" action="{% url 'genres-update' i.id %}">{% csrf_token %}
                        <input type="hidden" name="id" value="{{ i.id }}">
                        <button class="dropdown-item" type="submit" name="Обновить"><i class="fas fa-pencil-alt"></i></button>
                    </form>
                    <form method="POST" action="{% url 'genres-delete' i.id %}">{% csrf_token %}
                        <input type="hidden" name="id" value="{{ i.id }}">
                        <button class="dropdown-item" type="submit" name="Удалить"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
            </li>
            </form>
        </td>
    </tr>
        {% endfor %}
    </thead>
</table>

{% endblock %}

</html>