<html>
{% extends "catalog/detail_form_view.html" %}
{% block content %}
<head>
    <title>Издательство</title>
</head>


<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Издательство</th>
    </tr>
    <ul>
        {% for i in object_list %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>
    <tr>
        <td>{{ object.publisher }}</td>
    </tr>
        </thead>
</table>
{% endblock %}