<html>

<head>
    <title>Издательство</title>
</head>
<body>
    <form action="" method="GET">
        <input type="text" name="search" border="1">
        <button>Поиск</button>
</body>
<table>
    <tr>
        <th>Издательство</th>
    </tr>
    <ul>
        {% for i in object_list %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>
    <tr>
        <td>{{ object.publisher }}</td>
    </tr>
</table>


</html>