<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Издательство</title>
</head>

<body>

    <table>
        <tr>
            <th>
                Издательство
            </th>
        </tr>
        <tr>
            <th>
                <form method="POST" , action=".">
                    {% csrf_token %}
                    {{ form.publisher }}
                    <button tupe="submit" , name="detail">Отправить</button>
                </form>
            </th>
        </tr>
    </table>