<html>

{% extends "catalog/detail_form_view.html" %}
{% block content %}

<head>
    
    <title>Серия</title>
</head>

<body>

    <style>
    body {background-image: url(C:\Users\laptop\Documents\domashnee-zadanie\serie.jpg)}
    </style>
    <form action="" method="GET">
        <input type="text" name="search" border="1">
        <button class="btn btn-success"><i class="fas fa-search"></i></button>
    </form>
</body>
<table class="table">
    <thead class="thead-dark">
        <a class="border border-primary" href="{% url 'serie-create'%}">Добавить серию</i></a>
    <tr>
        <th scope="col">Серия</th>
        <th scope="col">Действие</th>
    </tr>
    <tbody>
    <ul>
        {% for i in object_list %}
        <tr></tr>
        <td scope="row">{{ i.series }}</td>
        <td>
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false"><i class="far fa-clipboard"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'serie-detail' i.pk %}"><i class="fas fa-eye"></i></a>
                        <form method="POST" action="{% url 'serie-update' i.id %}">{% csrf_token %}
                            <input type="hidden" name="id" value="{{ i.id }}" >
                            <button class="dropdown-item" type="submit" name="Обновить"><i class="fas fa-pencil-alt"></i></button>
                        </form>
                            <form method="POST" action="{% url 'serie-delete' i.id %}" >{% csrf_token %}
                                <input type="hidden" name="id" value="{{ i.id }}"/>
                                <button class="dropdown-item" type="submit" name="Удалить"><i class="fas fa-trash"></i></button>
                            </form>
                    </div>
                </li>
        </td>
        {% endfor %}
    </ul>
    <tr>
    </tr>
</table>

</thead>
</body>
{% endblock %}
</html>