<html>
{% extends "catalog/detail_form_view.html" %}
{% block content %}
<a class="dropdown-item" href="{% url 'serie-list-view' %}">Вернуться к списку</i></a>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Серия</th>
    </tr>
    <ul>
        {% for i in object_list %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>
    <tr>
        <td>{{ object.series }}</td>
    </tr>
    </thead>
</table>
{% endblock %}